<app-top (onBack)="onBackClick()" [title]="'Завершение записи'"></app-top>
<form [formGroup]="serviceForm" class="checkout__up">
  <mat-form-field class="checkout__field">
    <mat-label>
      Цена:
    </mat-label>
    <input matInput formControlName="price">
    <mat-error *ngIf="serviceForm.get('price')?.hasError('required')">
      Нужно ввести цену
    </mat-error>
    <mat-error *ngIf="serviceForm.get('price')?.hasError('pattern')">
      Нужно ввести цифру
    </mat-error>
  </mat-form-field>
  <mat-form-field class="checkout__field">
    <mat-label>
      Время выполнения:
    </mat-label>
    <mat-select formControlName="workTime">
      <mat-option *ngFor="let time of workTimeSteps" [value]="time">
        {{time}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="serviceForm.get('workTime')?.hasError('required')">
      Нужно выбрать время
    </mat-error>
  </mat-form-field>
</form>
<div *ngIf="serviceForm.value.photo?.length > 0" class="checkout__photo-counter">
  Загружено фотографий: {{serviceForm.value.photo?.length}}
</div>
<div class="checkout__photo-slider">
  <div class="checkout__photo-container" *ngFor="let photo of serviceForm.get('photo')?.value; let index = index">
    <mat-icon class="checkout__photo-cross" style="fill: red" svgIcon="cross" (click)="onDeleteClick(index)"></mat-icon>
    <img alt="photo"  src="{{photo.url}}">
  </div>
</div>
<button mat-raised-button color="primary" class="checkout__photo" (click)="photo.click()">Добавить фото</button>
<input #photo  hidden type="file" multiple="multiple" (change)="onFileSelected($event)"/>
<mat-error *ngIf="serviceForm.get('photo')?.hasError('type')" style="text-align: center">
  {{serviceForm.get('photo')?.errors?.type}}
</mat-error>

<button
  mat-raised-button
  color="accent"
  class="checkout__button"
  (click)="onCreateService()"
  [disabled]="serviceForm.invalid"
>Завершить запись</button>
