.checkout__up
  display: flex
  width: 90%
  margin: 20px auto
  justify-content: space-between
  .checkout__field
    width: 45%

.checkout__photo
  width: 90vw
  height: 90vw
  border: 1px solid black
  border-radius: 5px
  margin: 20px auto

.checkout__button
  width: 90%
  margin: 20px auto
  display: flex
  justify-content: center
  align-items: center
