<app-top (onBack)="onBackClick()" [title]="'Новый клиент'"></app-top>
<form class="add-client__main" [formGroup]="userForm">
  <mat-form-field>
    <mat-label>Имя</mat-label>
    <input matInput formControlName="name" placeholder="Имя клиента">
    <mat-error *ngIf="userForm.get('name')?.hasError('required')">
      Нужно ввести имя
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Телефон
    </mat-label>
    <input matInput formControlName="phoneNumber"  placeholder="Телефон клиента">
    <mat-error *ngIf="userForm.get('phoneNumber')?.hasError('pattern')">
      Неправильный формат номера
    </mat-error>
    <mat-error *ngIf="userForm.hasError('invalidContacts')">
      {{userForm.errors?.invalidContacts}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Instagram</mat-label>
    <input matInput formControlName="instagram" placeholder="Instagram клиента">
  </mat-form-field>
  <button mat-flat-button
          color="accent"
          (click)="onCreateClientClick()"
          [disabled]='userForm.invalid'
  >
    Создать клиента
  </button>
</form>
