.add-service__main
  display: flex
  flex-direction: column
  width: 100%
.edit-service__photo-container
  display: flex
  width: 100%
  flex-direction: column
  img
    width: 90%
    margin: 10px auto
    border-radius: 5px
.edit-service__field
  width: 90%
  margin: 0 auto
  textarea
    height: 4rem
