<app-top [title]="'Изменить услугу'" (onBack)="onBackClick()"></app-top>
<form [formGroup]="serviceForm" class="add-service__main">
  <mat-selection-list class="edit-service__field" formControlName="selectedServicesOptions">
    <mat-list-option *ngFor="let service of serviceTypes" [value]="service">
      {{service.text}}
    </mat-list-option>
  </mat-selection-list>
  <mat-error style="text-align: center" *ngIf="serviceForm.get('selectedServicesOptions')?.hasError('required')">
    Необходимо выбрать хотя бы один пункт :(
  </mat-error>
  <mat-grid-list cols="2" rowHeight="4rem" class="edit-service__field">
    <mat-grid-tile>
      <mat-form-field class="edit-service__field">
        <mat-label>
          Цена:
        </mat-label>
        <input matInput formControlName="price">
        <mat-error *ngIf="serviceForm.get('price')?.hasError('required')">
          Необходимо указать цену
        </mat-error>
        <mat-error *ngIf="serviceForm.get('price')?.hasError('pattern')">
          Неправильный формат цены
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="edit-service__field">
        <mat-label>
          Время выполнения:
        </mat-label>
        <mat-select formControlName="time">
          <mat-option *ngFor="let workTime of workTimeStep" [value]="workTime">
            {{workTime}}
          </mat-option>
        </mat-select>
      </mat-form-field >
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="8rem" class="edit-service__field" gutterSize="0">
    <mat-grid-tile colspan="2">
      <mat-form-field class="edit-service__field">
        <mat-label>
          Комментарий:
        </mat-label>
        <textarea  matInput formControlName="comment"></textarea>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <div *ngIf="serviceForm.value.photo?.length > 0" class="edit-service__photo-counter">
    Загружено фотографий: {{serviceForm.value.photo?.length}}
  </div>
  <div class="edit-service__photo-slider">
    <div class="edit-service__photo-container" *ngFor="let photo of serviceForm.get('photo')?.value; let index = index">
      <mat-icon class="edit-service__photo-cross" style="fill: red" svgIcon="cross" (click)="onDeleteClick(index)"></mat-icon>
      <img alt="photo" *ngIf="photo !== undefined" src="{{photo.url}}">
    </div>
  </div>
  <button mat-raised-button color="primary" class="edit-service__photo-button" (click)="photo.click()">Добавить фото</button>
  <input #photo  hidden type="file" multiple="multiple" (change)="onFileSelected($event)"/>
  <mat-error *ngIf="serviceForm.get('photo')?.hasError('type')" style="text-align: center">
    {{serviceForm.get('photo')?.errors?.type}}
  </mat-error>
  <button
    mat-raised-button
    color="accent"
    class="edit-service__field edit-service__save-button"
    (click)="onSaveClick()"
    [disabled]="serviceForm.invalid"
  >
    Изменить услугу
  </button>
</form>
