<div class="add-service__top">
  <div (click)="onBackClick()">></div>
  <div class="add-client__top_title">Добавить услугу</div>
</div>
<div class="add-service__main">
  <label>
    Название;
    <input [(ngModel)]="name">
  </label>
  <label>
    Цена:
    <input [(ngModel)]="price">
  </label>
  <label>
    Время выполнения:
    <input [(ngModel)]="time">
  </label>
  <label>
    Комментарий:
    <textarea [(ngModel)]="comment"></textarea>
  </label>
  <div class="add-service__main_save" (click)="onSaveClick()">
    Сохранить услугу
  </div>
</div>
