<app-top [title]="'Добавить услугу'" (onBack)="onBackClick()"></app-top>
<div class="add-service__main">
  <mat-selection-list class="add-service__service" [(ngModel)]="selectedServices">
    <mat-list-option *ngFor="let service of serviceTypes">
      {{service.text}}
    </mat-list-option>
  </mat-selection-list>
  <label>
    Цена:
    <input [(ngModel)]="price">
  </label>
  <label>
    Время выполнения:
    <input [(ngModel)]="time">
  </label>
  <label>
    Комментарий:
    <textarea [(ngModel)]="comment"></textarea>
  </label>
  <div class="add-service__main_save" (click)="onSaveClick()">
    Сохранить услугу
  </div>
</div>
