<app-top [title]="isEdit ? 'Изменить запись' : 'Добавить запись'" (onBack)="onBackClick()"></app-top>

<form [formGroup]="recordForm" class="record__item">
  <mat-selection-list class="record__field" formControlName="selectedServices">
    <mat-list-option *ngFor="let service of serviceOptions" [value]="service">
      {{service.text}}
    </mat-list-option>
  </mat-selection-list>
  <mat-grid-list rowHeight="4rem" cols="2" class="record__field">
    <mat-grid-tile>
      <mat-form-field class="record__field" >
        <mat-label>
          Клиент:
        </mat-label>
        <mat-select [value]="selectedRecord ? selectedRecord.clientId : ''" formControlName="selectedClientId">
          <mat-option *ngFor="let client of clients" [value]="client?.id">
            {{client?.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="record__field">
        <mat-label>
          Время:
        </mat-label>
        <mat-select formControlName="time">
          <mat-option *ngFor="let time of timesStep " [value]="time">
            {{time}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-form-field class="record__field">
    <mat-label>
      Комментарий
    </mat-label>
    <textarea matInput formControlName="comment"></textarea>
  </mat-form-field>
  <button
    [disabled]="recordForm.invalid"
    mat-raised-button
    color="primary"
    class="record__field"
    (click)="onSaveRecord()"
  >{{isEdit? 'Изменить запись' : 'Записать'}}</button>
  <button *ngIf="isEdit"
          mat-raised-button
          color="accent"
          class="record__field"
          (click)="onCheckoutClick()"
  >Отметить как услугу</button>
</form>
