
<app-navigation *ngIf="pageView === CLIENT_PAGE_VIEWS.CLIENT_LIST"></app-navigation>
<mat-card *ngIf="pageView === CLIENT_PAGE_VIEWS.CLIENT_LIST" class="client-list__container">
  <mat-form-field class="client-list__search">
    <mat-label>Поиск клиента</mat-label>
    <input
      matInput
      [(ngModel)]="searchString"
      placeholder="Имя | Instagram | Телефон клиента"
    />
  </mat-form-field>
  <button mat-raised-button class="client-list__add" (click)="setAddClientView()">Добавить клиента +</button>
  <mat-card class="client-list">
    <mat-card
      class="client-list__item"
      *ngFor="let client of clientMock
      | clientFilter: searchString"
      (click)="setClientViewId(client?.id || -1)"
    >
      <div>{{client?.name}},</div> <div>{{client?.date | date: 'short':'': 'ru'}}</div>
  </mat-card>
  </mat-card>
</mat-card>

<app-add-client (onBack)="setClientListView()" *ngIf="pageView === CLIENT_PAGE_VIEWS.CLIENT_ADD"></app-add-client>

<app-client-info
  *ngIf="pageView === CLIENT_PAGE_VIEWS.CLIENT_INFO"
  [client]="selectedClient"
  (onBack)="setClientListView()"
  (onService)="setServiceListView()"
></app-client-info>

<app-service-page
  *ngIf="pageView === CLIENT_PAGE_VIEWS.CLIENT_SERVICE"
  [services]="selectedClient?.services"
  (onBack)="setClientView()"
  (onAdd)="setAddServiceView()"
  (onService)="setEditServiceView($event)"
></app-service-page>

<app-add-service
  (onBack)="setServiceListView()"
  *ngIf="pageView === CLIENT_PAGE_VIEWS.CLIENT_SERVICE_ADD"
>
</app-add-service>

<app-edit-service
  (onBack)="setServiceListView()"
  *ngIf="pageView === CLIENT_PAGE_VIEWS.CLIENT_SERVICE_EDIT"
  [selectedService]="selectedService"
>
</app-edit-service>
