.client-list__container
  list-style: none
  width: 85%
  margin: 20px auto 0
  padding: 1rem

.client-list__search
  width: 100%

.client-list
  overflow-y: scroll
  height: 50vh

.client-list__item
  margin: 20px auto
  width: 85%

.client-list__add
  margin: 20px auto
  width: 100%
