<mat-tab-group animationDuration="500ms" [(selectedIndex)]="pageView" header-less-tabs>
  <mat-tab>
    <app-navigation></app-navigation>
    <mat-card class="client-list__container">
      <mat-form-field class="client-list__search">
        <mat-label>Поиск клиента</mat-label>
        <input
          matInput
          [(ngModel)]="searchString"
          placeholder="Имя | Instagram | Телефон клиента"
        />
      </mat-form-field>
      <button mat-raised-button class="client-list__add" (click)="setAddClientView()">Добавить клиента +</button>
      <mat-card class="client-list">
        <button
          mat-raised-button
          class="client-list__item"
          *ngFor="let client of clients
      | clientFilter: searchString"
          (click)="setClientViewId(client?.id || '-1')"
        >
          {{client?.name}}
        </button>
      </mat-card>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <app-add-client
      (onBack)="setClientListView()"
    ></app-add-client>
  </mat-tab>
  <mat-tab>
    <app-client-info
      (onBack)="setClientListView()"
      (onService)="setServiceListView()"
      (onRecord)="setCreateRecordView()"
    ></app-client-info>
  </mat-tab>
  <mat-tab>
    <app-service-page
      (onBack)="setClientViewBack()"
      (onService)="setEditServiceView()"
    ></app-service-page>
  </mat-tab>
  <mat-tab>
    <app-add-service
      (onBack)="setClientViewBack()"
    >
    </app-add-service>
  </mat-tab>
  <mat-tab>
    <app-edit-service
      (onBack)="setServiceListView()"
    >
    </app-edit-service>
  </mat-tab>
</mat-tab-group>












