<div *ngIf="pageView === RECORD_PAGE_VIEWS.CALENDAR_VIEW" class="record">
  <app-navigation *ngIf="pageView === RECORD_PAGE_VIEWS.CALENDAR_VIEW"></app-navigation>
  <mat-card>
    <mat-calendar (selectedChange)="onDateChanged($event)"></mat-calendar>
  </mat-card>
  <h1 class="record__date">
    Запись на {{selected | date: 'd MMMM' : '' : 'ru'}}
  </h1>
  <ul class="record__list">
    <li
      class="record__item"
      *ngFor="let record of todayClients"
      (click)="onEditClick(record.id)"
    >
      {{record?.client?.name}}, {{record?.name}}, {{record?.date | date :'H:mm'}}
      <mat-divider></mat-divider>
    </li>
  </ul>
  <button
    mat-raised-button
    class="record__add-button"
    (click)="onAddClick()"
  >
    Добавить запись +
  </button>
</div>

<app-record-item
  *ngIf="pageView === RECORD_PAGE_VIEWS.EDIT_RECORD_VIEW"
  [isEdit]="true" (onBack)="onBackClick()"
></app-record-item>

<app-record-item
  *ngIf="pageView === RECORD_PAGE_VIEWS.ADD_RECORD_VIEW"
  [isEdit]="false" (onBack)="onBackClick()"
></app-record-item>
