<mat-tab-group [(selectedIndex)]="pageView" header-less-tabs animationDuration="500ms">
  <mat-tab>
    <div class="record">
      <app-navigation></app-navigation>
      <mat-card>
        <mat-calendar (selectedChange)="onDateChanged($event)"></mat-calendar>
      </mat-card>
      <h1 class="record__date">
        Запись на {{selectedDate | date: 'd MMMM' : '' : 'ru'}}
      </h1>
      <ul class="record__list">
        <li
          class="record__item"
          *ngFor="let record of records"
          (click)="onEditRecordClick(record.id)"
        >
          {{record?.client?.name}}, {{record?.date | date :'H:mm'}}
          <mat-divider></mat-divider>
        </li>
      </ul>
      <button
        mat-raised-button
        class="record__add-button"
        (click)="onAddRecordClick()"
      >
        Добавить запись +
      </button>
    </div>
  </mat-tab>
  <mat-tab>
    <app-record-item
      [isEdit]="false" (onBack)="onBackClick()"
    ></app-record-item>
  </mat-tab>
  <mat-tab>
    <app-record-item
      [isEdit]="true" (onBack)="onBackClick()"
      (onCheckout)="onCheckoutRecordClick()"
    ></app-record-item>
  </mat-tab>
  <mat-tab>

    <app-checkout (onBack)="onCheckoutRecordBackClick()">

    </app-checkout>
  </mat-tab>
</mat-tab-group>




