<mat-tab-group [(selectedIndex)]="pageView" header-less-tabs animationDuration="500ms">
  <mat-tab>
    <div class="record">
      <app-navigation></app-navigation>
      <mat-card>
        <mat-calendar (selectedChange)="onDateChanged($event)"></mat-calendar>
      </mat-card>
      <h1 class="record__date">
        Запись на {{selectedDate | date: 'd MMMM' : '' : 'ru'}}
      </h1>
      <ul class="record__list">
        <li class="record__no-record" *ngIf="records.length === 0">
          На этот день нет записи
          <mat-divider></mat-divider>
        </li>
        <li
          class="record__container"
          *ngFor="let record of records"
          (click)="onEditRecordClick(record.id)"
        >
          <div class="record__item">
          <div>{{record?.client?.name}}, {{record?.date | date :'H:mm'}}</div>
          <mat-icon class="check-icon" *ngIf="record.isFinished" svgIcon="check" style="fill: lawngreen"></mat-icon>
          </div>
          <mat-divider class="record__divider"></mat-divider>
        </li>
      </ul>
      <button
        mat-raised-button
        class="record__add-button"
        (click)="onAddRecordClick()"
      >
        Добавить запись +
      </button>
    </div>
  </mat-tab>
  <mat-tab>
    <app-record-item
      [isEdit]="false" (onBack)="onBackClick()"
    ></app-record-item>
  </mat-tab>
  <mat-tab>
    <app-record-item
      [isEdit]="true" (onBack)="onBackClick()"
      (onCheckout)="onCheckoutRecordClick()"
    ></app-record-item>
  </mat-tab>
  <mat-tab>
    <app-checkout (onBack)="onCheckoutRecordBackClick()">
    </app-checkout>
  </mat-tab>
</mat-tab-group>




