.record__date
  width: 100%
  padding: 2rem
  box-sizing: border-box
  text-align: center
  font-weight: 500

.record__list
  margin: 0
  list-style: none
  box-sizing: border-box
  padding: 0
.record__no-record
  width: 80%
  display: flex
  margin: 10px auto
  flex-direction: column
  font-size: 1rem
.record__item
  list-style: none
  width: 80%
  font-size: 1rem
  margin: 0 auto 20px

.record__add-button
  width: 80%
  margin: 20px auto
  display: flex
  justify-content: center

.record
  padding-bottom: 30px

