<app-top [title]="'Добавить услугу'" (onBack)="onBackClick()"></app-top>
<div class="add-service__main">
  <mat-selection-list class="add-service__field" [(ngModel)]="selectedServices">
    <mat-list-option *ngFor="let service of serviceTypes" [value]="service">
      {{service.text}}
    </mat-list-option>
  </mat-selection-list>
  <mat-grid-list cols="2" rowHeight="4rem" gutterSize="1rem" class="add-service__field">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field class="add-service__price">
        <mat-label>
          Дата:
        </mat-label>
        <input matInput [matDatepicker]="newDate" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="newDate"></mat-datepicker-toggle>
        <mat-datepicker #newDate></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field class="add-service__time">
        <mat-label>
          Время:
        </mat-label>
        <mat-select [(ngModel)]="time">
          <mat-option *ngFor="let time of recordTimeStep" [value]="time">
            {{time}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" gutterSize="1rem" rowHeight="8rem" class="add-service__field">
    <mat-grid-tile>
      <mat-form-field class="add-service__comment">
        <mat-label>
          Комментарий:
        </mat-label>
        <textarea matInput [(ngModel)]="comment"></textarea>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button  class="add-service__field" mat-raised-button color="accent" (click)="onCreateRecordClick()">
    Добавить услугу
  </button>
</div>
