<app-top (onBack)="onBackClick()" [title]="client?.name"></app-top>
<div class="client-info__main">
  <label class="client-info__instagram">
    Instagram:
    <input [(ngModel)]="instagram">
  </label>
  <label class="client-info__phone">
    Телефон:
    <input [(ngModel)]="phone">
  </label>
  <label class="client-info__last-date">
    Последняя запись: была
    <input>
  </label>
  <label class="client-info__last-date">
    Следующая запись: будет
    <input>
  </label>
  <div class="client-info__services">
    Изменить клиента
  </div>
  <div class="client-info__services" (click)="onServiceClick()">
    Все записи клиента
  </div>
  <div class="client-info__photo">
    +
  </div>
</div>

