<app-top (onBack)="onBackClick()" [title]="name"></app-top>
<div class="client-info__main">
  <mat-form-field>
    <mat-label>Имя</mat-label>
    <input matInput [(ngModel)]="name" placeholder="Новое имя клиента">
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Телефон
    </mat-label>
    <input matInput [(ngModel)]="phone"  placeholder="Новый телефон клиента">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Instagram</mat-label>
    <input matInput [(ngModel)]="instagram" placeholder="Новый Instagram клиента">
  </mat-form-field>
  <mat-form-field class="client-info__last-date">
    <mat-label>
      Последний раз был(а):
    </mat-label>
    <input matInput [matDatepicker]="prevDateMat" [(ngModel)]="prevDate" disabled>
    <mat-datepicker-toggle matSuffix [for]="prevDateMat" disabled></mat-datepicker-toggle>
    <mat-datepicker #prevDateMat disabled></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="client-info__last-date">
    <mat-label>
      Следующая запись: будет
    </mat-label>
    <input matInput [matDatepicker]="lastRecordMat" [(ngModel)]="lastRecord" disabled>
    <mat-datepicker-toggle matSuffix [for]="lastRecordMat" disabled></mat-datepicker-toggle>
    <mat-datepicker #lastRecordMat disabled></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onRecordClick()">
    Записать клиента
  </button>
  <button mat-raised-button (click)="onServiceClick()" [disabled]="!hasServices">
    Завершенные записи клиента
  </button>
  <button mat-raised-button color="primary" (click)="onSaveClick()">
    Сохранить изменения
  </button>
</div>

