<app-top (onBack)="onBackClick()" [title]="name || undefined"></app-top>
<div class="client-info__main">
  <mat-form-field>
    <mat-label>Имя</mat-label>
    <input matInput [(ngModel)]="name" placeholder="Новое имя клиента">
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      Телефон
    </mat-label>
    <input matInput [(ngModel)]="phone"  placeholder="Новый телефон клиента">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Instagram</mat-label>
    <input matInput [(ngModel)]="instagram" placeholder="Новый Instagram клиента">
  </mat-form-field>
  <mat-form-field class="client-info__last-date">
    <mat-label>
      Последняя запись: была
    </mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field class="client-info__last-date">
    <mat-label>
      Следующая запись: будет
    </mat-label>
    <input matInput>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onRecordClick()">
    Записать клиеннта
  </button>
  <button mat-raised-button (click)="onServiceClick()">
    Завершенные записи клиента
  </button>
  <button mat-raised-button color="primary" (click)="onSaveClick()">
    Сохранить изменения
  </button>
  <div class="client-info__photo">
    +
  </div>
</div>

